* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header {
	background: linear-gradient(to right, #005aa7, #fffde4);
	text-align: center;
	line-height: 100px;
	height: 100px;
	letter-spacing: 1px;
	font-family: "Caveat", cursive;
}
.content {
	width: 90vw;
	border: 1px solid black;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: between;
	text-align: center;
	align-items: center;
	align-content: center;
	&.content-main {
		& h2 {
		}
		&.contenet-m2 {
		}
	}
	&.content-love {
		border: 1px solid blue;
		&.item {
		}
	}
}
